body{
    display: grid;
    margin: 0;
}

.products__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    list-style: none;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

.products__item{
    display: grid;
}

.products__name{
    grid-row: 2 / 3 ;
    padding: 0 80px;
    color: #000000;
    margin-top: 23px;
    margin-left: 5px;
    letter-spacing: 0.2px;
}

.products__price{
    color: #000000;
    font-weight: 700;
    font-size: 25px;
    margin-top: 3px;
    letter-spacing: 2.4px;
}

.products__price span{
    font-size: 23px;
}

.products__image,
.products__name,
.products__price{
    justify-self: center;
}

.products__button{
    margin: 0 100px;
    margin-top: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background-color: #f13c6e;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 0.7px;
}

.products__button:active{
    background-color: #ec7a9b;
}

.form{
    display: none;
    position: fixed;
    margin: 5% 30%;
    width: 600px;
    height: 550px;
    background-color: rgba(0,0,0,0.5);
}

.form__list{
    position: absolute;
    top: 150px;
    left:150px;
    width: 300px;
    height: 250px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.form__toggle{
    position: absolute;
    top: -100px;
    right: -90px;
    color: #ffffff;
    cursor: pointer;
    font-size: 50px;
}

.form__toggle:active{
    color: gray;
}

input{
    font-size: 18px;
}

.form__button{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
}